.header__subtitle {
  max-width: 388px;
  padding: 30px 64px;
  margin: 0;
  position: absolute;
  bottom: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  line-height: 25px;
  z-index: 1;
}