.header__title {
  max-width: 730px;
  padding-left: 64px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 102px;
  font-weight: 600;
  text-decoration: none;
  line-height: 96px;
  z-index: 1;
  margin: 0;
}